: \* (nu_e/wpe)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Processors)\s*:\s*([-]*\d+[0-9.]*\d*)
: \* (nu_e*2*dt_coll)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (nsteps_cycle)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Time step), max time, nsteps\s*=\s*([-]*\d+[0-9.]*\d*) ([-]*\d+[0-9.]*\d*) ([-]*\d+[0-9.]*\d*)
: \* Time step, (max time), nsteps\s*=\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Time step, max time, (nsteps)\s*=\s*[-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (wpe1ps)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Debye length), delta\s*=\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Debye length, (delta)\s*=\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (cell size in x, z)\s*=\s*([-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d*)
: \* (Lx), Ly, Lz\s*=\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d*
: \* Lx, (Ly), Lz\s*=\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Lx, Ly, (Lz)\s*=\s*[-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (nx), ny, nz\s*=\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d*
: \* nx, (ny), nz\s*=\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* nx, ny, (nz)\s*=\s*[-]*\d+[0-9.]*\d* [-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (Charge/macro electron)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Charge/macro He)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Charge/macro H)\s*=\s*([-]*\d+[0-9.]*\d*)
: \* (Average particles/processor)\s*:\s*([-]*\d+[0-9.]*\d*)
: \* (Average particles/cell)\s*:\s*([-]*\d+[0-9.]*\d*)
: \* (Do we have mobile ions)\s*?\s*([a-zA-Z]+)
: \* (Is there He present)\s*?\s*([a-zA-Z]+)
: \* (Is there H present)\s*?\s*([a-zA-Z]+)
: \* (Omega_0), Omega_seed\s*:\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Omega_0, (Omega_seed)\s*:\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (Omega_pe)\s*:\s*([-]*\d+[0-9.]*\d*)
: \* (Domega), chirp_length\s*:\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Domega, (chirp_length)\s*:\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (Plasma density), ne/nc\s*:\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Plasma density, (ne/nc)\s*:\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)
: \* (Vac wavelength),\s*I_laser\s*:\s*([-]*\d+[0-9.]*\d*) [-]*\d+[0-9.]*\d*
: \* Vac wavelength,\s*(I_laser)\s*:\s*[-]*\d+[0-9.]*\d* ([-]*\d+[0-9.]*\d*)



