:\s*(L)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(ec)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*) 
:\s*(me)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*) 
:\s*(c)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(eps0)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(rhoi/L)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*) 
:\s*(Ti/Te)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(wpe/wce)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(mi/me)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(theta)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(taui)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(num_step)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(dt)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(Lx)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Lx/L)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(Ly)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Ly/L)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(Lz)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Lz/L)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(nx)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dx)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/dx)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(ny)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dy)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/dy)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(nz)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dz)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/dz)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(nppc)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(courant)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(damp)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(qpi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(mi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(qpi/mi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(vthi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(vthi/c)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(kTi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(vdri)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(vdri/c)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(wpi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(wpi\s*dt)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(n0)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(wci)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(wci\s*dt)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(rhoi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/rhoi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dx/rhoi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(debyei)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/debyei)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dx/debyei)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(Npi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Ni)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Npi/Ni)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(wi)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(qpe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(me)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(qpe/me)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(vthe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(vthe/c)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(kTe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(vdre)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(vdre/c)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(wpe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(wpe\s*dt)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(n0)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(wce)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(wce\s*dt)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(rhoe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/rhoe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dx/rhoe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(debyee)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(L/debyee)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(dx/debyee)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(Npe)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Ne)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(Npe/Ne)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*),\s*(we)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(nptotal)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
:\s*(nproc)\s*=\s*([-]*\d+[.]*\d*[e+-]*\d*)
