:\s+(L)\s+=\s+(\d+[0-9.]*\d*)
:\s+(ec)\s+=\s+(\d+[0-9.]*\d*) 
:\s+(me)\s+=\s+(\d+[0-9.]*\d*) 
:\s+(c)\s+=\s+(\d+[0-9.]*\d*)
:\s+(eps0)\s+=\s+(\d+[0-9.]*\d*)
:\s+(rhoi/L)\s+=\s+(\d+[0-9.]*\d*) 
:\s+(Ti/Te)\s+=\s+(\d+[0-9.]*\d*)
:\s+(wpe/wce)\s+=\s+(\d+[0-9.]*\d*)
:\s+(mi/me)\s+=\s+(\d+[0-9.]*\d*)
:\s+(theta)\s+=\s+(\d+[0-9.]*\d*)
:\s+(taui)\s+=\s+(\d+[0-9.]*\d*)
:\s+(num_step)\s+=\s+(\d+[0-9.]*\d*)
:\s+(dt)\s+=\s+(\d+[0-9.]*\d*)
:\s+(Lx)\s+=\s+(\d+[0-9.]*\d*),\s+(Lx/L)\s+=\s+(\d+[0-9.]*\d*)

