nu_e*2*dt_coll
nsteps_cycle
Time step, max time, nsteps
wpe1ps
Debye length, delta
cell size in x, z
Lx, Ly, Lz
nx, ny, nz
Charge/macro electron
Charge/macro He
Charge/macro H
Average particles/processor
Average particles/cell
Do we have mobile ions
Is there He present
Is there H present
Omega_0, Omega_seed
Omega_pe
Domega, chirp_length
Plasma density, ne/nc
Vac wavelength,I_laser
T_e, T_i, m_e, m_i_H, m_i_He
Radiation damping
Fraction of courant limit
vthe/c
vthi_H/c, vth_He/c
m_exponent_ele, vm
emax
emax_seed
restart interval
energies_interval
quota_check_interval
velocity interval
poynting interval
fft ex save interval
fft ey save interval
fft ez save interval
f#, waist
width, xfocus
ycenter, zcenter, mask
quota (hours)
load_particles
do_collisions
self_collisions_only
tstep_coll
nppc_max
nu_e
cvar
mime_H
mime_He
ele_sort_freq
ion_sort_freq
theta, theta_seed
launch_laser
launch_seed
ey_xloc (for Ey(z) FFT write)
psum_integration_offset
