====table====
table_sep=|
header=                           |      Since Last Update       |     Since Last Restore
header=    Operation              | Pct   Time    Count    Per   | Pct   Time    Count    Per
header=---------------------------+------------------------------+------------------------------
cols=3
val_sep= 
num_vals=9
val_name=operation_skip
val_name=since_last_update_pct
val_name=since_last_update_time
val_name=since_last_update_count
val_name=since_last_update_per
val_name=since_last_restore_pct
val_name=since_last_restore_time
val_name=since_last_restore_count
val_name=since_last_restore_per
====end_table====
